AIRFLOW_UID=50000
FERNET_KEY=replace_with_generated_fernet_key
AIRFLOW_IMAGE_NAME=audio-translator-airflow:3.3.2-python3.12
MSSQL_SA_PASSWORD=replace_with_strong_password

AUDIO_PIPELINE_DB_USER=audio_pipeline_app
AUDIO_PIPELINE_DB_PASSWORD=replace_with_strong_password
AUDIO_LOCAL_ROOT=/opt/airflow/data/audio_data
