.ipynb_checkpoints/
.virtual_documents/
cache/
.cache/
.venv/
__pycache__/

# Mac system files
.DS_Store

# Do not commit original datasets 
data/
sample_code/
notebooks/


# Files to exclude from the repository
commands.txt
.env
.env
.env.*
!.env.example

# Airflow runtime files
logs/*
!logs/.gitkeep
config/airflow.cfg

# Python test/cache files
.pytest_cache/
*.py[cod]